%p#notice= notice

.card
  .card-body
    %h5.card-title Nombre:
    %p.card-text &nbsp #{@movie.name}

    .card-body
    %h5.card-title Año:
    %p.card-text &nbsp #{@movie.year}

.row.mt-3
  .offset-3.col-3
    = link_to t('application.back_to', model: t('activerecord.modules.movie.other')), movies_path, class: "btn btn_secondary btn block"