%p{:style => "color: green"}= notice
%h1 Directors
#directors
  - @directors.each do |director|
    = render director
    %p
      = link_to "Show this director", director
= link_to "New director", new_director_path
